.buttongroup1 {
}
.buttongroup2 {
  float: right;
}
.material {
  margin-left: 100px;
}
.MuiButtonGroup-root.MuiButtonGroup-outlined.buttongroup1.css-iajp3t-MuiButtonGroup-root {
  margin-top: 20px;
}
.MuiButtonGroup-root.MuiButtonGroup-text.buttongroup2.css-1or64il-MuiButtonGroup-root {
  margin-top: 20px;
}
